* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.index {
    background-image: url("images/material.jpg");
    background-size: cover;
}

.index-main {
    width: 50%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.arrow {
    padding: 40px;
}

.sound {
    background-image: url("images/cassettes.jpg");
    background-size: cover;
    width: 100%;
}

.container {
    display: flex;

}

.sound-main {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.next {
    float: right;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
    margin-top: 250px;
    margin-right: 40px;
    margin-left: 40px;
}

.back {
    float: left;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
    margin-top: 250px;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    padding: 20px;
}

h2 {
    padding-bottom: 20px;
}

.style {
    background-image: url("images/denim.jpg");
}

h1 .style {
    text-align: center;
}