* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.index {
    background-image: url("images/material.jpg");
    background-size: cover;
}

.index-main {
    width: 50%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.arrow {
    padding: 40px;
}

.sound {
    background-image: url("images/cassettes.jpg");
    background-size: cover;
    width: 100%;
}

.container {
    display: flex;

}

.sound-main {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.next {
    position: fixed;
    right: 0px;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
    margin-top: 250px;
    margin-right: 40px;
    margin-left: 40px;
}

.back {
    position: fixed;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
    margin-top: 250px;
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    padding: 20px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.style {
    background-image: url("images/denim.jpg");
}

.style-main {
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 0;
}
h1 .style {
    text-align: center;
}

.style-image {
    width: 100%;
}

.style-header {
    text-align: center;
}

.heading {
    position: relative;
    text-align: center;
    color: white;
}

.movies-h {
    position: absolute;
    width: 20%;
    top: 46%;
    left: 40%;
    color: black;
}

.top10 {
    display: flex;
    width: 90%;
    margin: auto;
}

.top-list {
    float: left;
    text-align: center;
    list-style: none;
    width: 80%;
    padding-bottom: 20px;
}

.next2 {
    float: right;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
}

.back2 {
    float: left;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    height: 80px;
}

.movies-h2 {
    padding-right: 30px;
}

.end {
    background-image: url("images/cellphones.jpg");
    background-size: cover;
}

.end-main {
    background-color: white;
    margin: 60px;
    margin-top: 200px;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
}

